---
import '../styles/global.css';

import Layout from '../layouts/Layout.astro';
import ProjectsEntry from '../components/projectsEntry.astro';

// Import all projects from ../assets/projects
import { getCollection } from 'astro:content';
//const projectsMarkdown = import.meta.glob('../content/projects/*.md', { eager: true });
//const projectsList = Object.values(projectsMarkdown) as any[];
const projects = await getCollection('projects');
// Do the projectsList but without sorting, for now
const projectsList = projects;
---

<Layout pageTitle="projects">
    <div class="content">
        <h1>PROYECTOS</h1>
        <div class="entries">
        { projectsList.map((project) => {
            return (
                <ProjectsEntry
                    id={project.data.id}
                    title={project.data.titulo}
                    author={project.data.autor}
                    date={project.data.fecha}
                    description={project.data.descripcion}
                    image={project.data.thumbnail}
                    tags={project.data.tags}
                    link={project.slug}
                />
            );
        }) }
        </div>
    </div>
</Layout>

<style>
    .content {
        padding: 50px;
        & h1 {
            color: var(--white);
            font-weight: 800;
        }
    }

    .entries {
        gap: 10px;
        padding: 25px 75px;
    }

    /*
    .project {
        max-width: 600px;
        padding: 20px;
        border: 1px solid var(--ocean);
        border-radius: 12px;
        background-color: var(--dark);
        color: var(--primary);

    }

    .project-content {
        background-color: var(--primary);
        padding: 20px;
        border-radius: 12px;
        max-width: 900px;
    }

    .project-content :global(p) {
        margin-bottom: 1em;
    }
    .project-content :global(h3) {
        margin-top: 1.5em;
        font-size: 1.25rem;
    }*/
</style>

