---
import '../styles/global.css';

import Layout from '../layouts/Layout.astro';
import ProjectsEntry from '../components/projectsEntry.astro';

// Import all projects from ../assets/projects
const projectsList = await Astro.glob('../assets/projects/*.md');
// Note: Using Astro.glob() is now the recommended way over import.meta.glob for content.
// It returns an array directly, so Object.values is not needed.
---

<Layout>
    <div class="content">
        <h1>PROYECTOS</h1>
        <div class="entries">
        { projectsList.map((project: any) => {
            const { frontmatter } = project;

            return (
                <ProjectsEntry
                    id={project.frontmatter.id}
                    title={project.frontmatter.titulo}
                    author={project.frontmatter.autor}
                    date={project.frontmatter.fecha}
                    description={project.frontmatter.descripcion}
                    image={project.frontmatter.img}
                    tags={project.frontmatter.tags}
                    link={`/projects/${project.frontmatter.id}`}
                />
            );
        }) }
        </div>
    </div>
</Layout>

<style>
    .content {
        padding: 50px;
        & h1 {
            color: var(--white);
            font-weight: 800;
        }
    }

    .entries {
        gap: 50px;
        padding: 25px 75px;
    }

    /*
    .project {
        max-width: 600px;
        padding: 20px;
        border: 1px solid var(--ocean);
        border-radius: 12px;
        background-color: var(--dark);
        color: var(--primary);

    }

    .project-content {
        background-color: var(--primary);
        padding: 20px;
        border-radius: 12px;
        max-width: 900px;
    }

    .project-content :global(p) {
        margin-bottom: 1em;
    }
    .project-content :global(h3) {
        margin-top: 1.5em;
        font-size: 1.25rem;
    }*/
</style>

